<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand ">
      <%= image_tag 'mainlogo.png'%>
    </div>
    <div class="xn-icon-button pull-right alert_notice"> <a href="#"><span class="fa fa-comments"></span></a>

    </div>
      <!-- us

      <!-- user dropdown starts -->
    <div class="btn-group right-shift">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i><span class="hidden-sm hidden-xs"> admin</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li class="divider"></li>
        <li id="logout-btn"><a href="#" >Logout</a></li>
      </ul>
    </div>
    <!-- user dropdown ends -->
  </div>
</div>
<!-- topbar ends -->
