// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alert_notice{
  position: absolute;
  right: 200px;
  margin-top: 35px !important;
  font-size: xx-large;
}
